*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#0a0a0a;
color:white;
}

header{
display:flex;
justify-content:space-between;
padding:20px 80px;
}

.logo span{
color:red;
}

nav a{
margin-left:25px;
text-decoration:none;
color:white;
}

nav a:hover{
color:red;
}

section{
padding:80px;
}

.title{
text-align:center;
margin-bottom:40px;
font-size:35px;
color:red;
}

/* HOME */

.home{
display:flex;
justify-content:space-between;
align-items:center;
}

.text h1{
font-size:50px;
}

.text h2{
color:red;
margin:10px 0;
}

.text p{
margin:15px 0;
width:400px;
color:#aaa;
}

.btn{
display:inline-block;
margin-top:15px;
padding:10px 20px;
background:red;
color:white;
text-decoration:none;
border-radius:5px;
}

.btn:hover{
background:#ff3333;
}

.icons i{
margin-top:20px;
margin-right:15px;
font-size:20px;
border:2px solid red;
padding:10px;
border-radius:50%;
cursor:pointer;
}

.icons i:hover{
background:red;
}

.image img{
width:350px;
border-radius:50%;
border:8px solid red;
box-shadow:0 0 40px red;
}


/* SKILLS */

.skill{
margin:20px auto;
width:400px;
}

.bar{
height:10px;
background:#333;
border-radius:5px;
}

.progress{
height:10px;
background:red;
border-radius:5px;
}

.c{width:90%;}
.s{width:85%;}
.n{width:80%;}
.r{width:75%;}


/* PROJECTS */

.projects{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}

.card{
background:#111;
padding:20px;
width:250px;
border-radius:10px;
transition:0.3s;
}

.card:hover{
transform:translateY(-10px);
box-shadow:0 0 15px red;
}


/* ABOUT */

.about-text{
text-align:center;
width:600px;
margin:auto;
color:#aaa;
}


/* FOOTER */

footer{
text-align:center;
padding:20px;
background:#111;
margin-top:50px;
}
